## Numpy

In [ ]:
import numpy as np
import pandas as pd

## 1. Creating Numpy Arrays

**#E.1**

**a) Create a 1D numpy array from my_list = [1,2,3,4]**

**b) Create a 2D numpy array with random integers between 0, 10 and shape of (4,5)**

**c) Create a 2D numpy array with random numbers between 0, 1, and shape of (3,4)**

**d) Create a 2D numpy array of shape (2,3) filled with 8**

**a)**

In [2]:
my_list = [1,2,3,4]
np.array(my_list)

array([1, 2, 3, 4])

**b)**

In [3]:
np.random.seed(32)
np.random.randint(0,10,(4,5))

array([[7, 5, 6, 8, 3],
       [7, 9, 3, 5, 9],
       [4, 1, 3, 1, 2],
       [3, 8, 2, 4, 2]])

**c)**

In [4]:
np.random.seed(32)
np.random.rand(3,4)

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655],
       [0.7366696 , 0.81620514, 0.10108656, 0.92848807],
       [0.60910917, 0.59655344, 0.09178413, 0.34518624]])

**d)**

In [5]:
np.full((2,3),8)

array([[8, 8, 8],
       [8, 8, 8]])

## 2. INdexing Numpy arrays

**#E2. From my_arr below, Get all alternate numbers from 94 to 53**

In [6]:
my_arr = np.array([31, 89, 94, 46, 25, 69, 11, 41, 53, 83, 93])
my_arr

array([31, 89, 94, 46, 25, 69, 11, 41, 53, 83, 93])

In [7]:
my_arr[2:9:2]

array([94, 25, 11, 53])

**#E.3 From my_arr, print all numbers in reverse order**

In [8]:
my_arr[::-1]

array([93, 83, 53, 41, 11, 69, 25, 46, 94, 89, 31])

**#E.4 From the 2D array below, get only rows 0, 1 and columns 1, 3**. (Remember indexing starts from 0 in python)

In [9]:
np.random.seed(32)
my_arr2D = np.random.rand(4,5)
my_arr2D

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ],
       [0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344],
       [0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779],
       [0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847]])

In [10]:
my_arr2D[0:2,1:4:2]

array([[0.37271115, 0.95565655],
       [0.10108656, 0.60910917]])

**#E.5 Reshape the above 2D array to 1D array and assign it to my_arr1D. Check the shape of my_arr1D**

In [11]:
my_arr1D = my_arr2D.reshape(20)
my_arr1D

array([0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ,
       0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344,
       0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779,
       0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847])

In [12]:
my_arr1D.shape

(20,)

## 3. Boolean Masking

In [13]:
np.random.seed(32)
my_arr2D = np.random.randint(0,10,(4,5))
my_arr2D

array([[7, 5, 6, 8, 3],
       [7, 9, 3, 5, 9],
       [4, 1, 3, 1, 2],
       [3, 8, 2, 4, 2]])

**#E.6 Get the rows, when column 1 values are greater than 6**

In [14]:
my_arr2D[my_arr2D[:,1] > 6, :]

array([[7, 9, 3, 5, 9],
       [3, 8, 2, 4, 2]])

**#E.7 Modify the 3rd column values to [100, 100, 100, 100]**

In [15]:
my_arr2D[:,3] = [100, 100, 100, 100]
my_arr2D

array([[  7,   5,   6, 100,   3],
       [  7,   9,   3, 100,   9],
       [  4,   1,   3, 100,   2],
       [  3,   8,   2, 100,   2]])

## 4. Numpy Ufuncs and operations

**#E.8**

**a) Divide each element of the above my_arr2Dnumpy array by 5**

**b) Take sin(x) of each element**

**a)**

In [16]:
my_arr2D/5

array([[ 1.4,  1. ,  1.2, 20. ,  0.6],
       [ 1.4,  1.8,  0.6, 20. ,  1.8],
       [ 0.8,  0.2,  0.6, 20. ,  0.4],
       [ 0.6,  1.6,  0.4, 20. ,  0.4]])

**b)**

In [17]:
np.sin(my_arr2D)

array([[ 0.6569866 , -0.95892427, -0.2794155 , -0.50636564,  0.14112001],
       [ 0.6569866 ,  0.41211849,  0.14112001, -0.50636564,  0.41211849],
       [-0.7568025 ,  0.84147098,  0.14112001, -0.50636564,  0.90929743],
       [ 0.14112001,  0.98935825,  0.90929743, -0.50636564,  0.90929743]])

**#E.9 Get the mean of each column for my_arr2D**

In [18]:
my_arr2D

array([[  7,   5,   6, 100,   3],
       [  7,   9,   3, 100,   9],
       [  4,   1,   3, 100,   2],
       [  3,   8,   2, 100,   2]])

In [19]:
np.mean(my_arr2D,0)

array([  5.25,   5.75,   3.5 , 100.  ,   4.  ])

**#E.10 Get the sum of each row for my_arr2D**

In [20]:
my_arr2D.sum(1)

array([121, 128, 110, 115])