#  Numpy
* Numerical Python
* Numpy is the fundamental package for scientific computing with Python
* Much more efficient data storage and operations capability
* Entire ecosystem of python data science tools depend on Numpy

In [1]:
import numpy as np
# Numpy is the linear algebra library for python
np.__version__

'1.15.4'

## 1. Creating Numpy Arrays

### 1.1 Creating Arrays from Scratch

**np.arange(start,stop,step)**

In [2]:
np.arange(10) # Creates numbers 0 to 9

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

**np.zeros()**

In [3]:
np.zeros(5) # creates 5 zeroes

array([0., 0., 0., 0., 0.])

**np.ones()**

In [4]:
np.ones(8) # creates an array of 1

array([1., 1., 1., 1., 1., 1., 1., 1.])

**np.eye()**

In [5]:
np.eye(3) # creates identity matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

**np.full()**

In [6]:
np.full((2,3),1) # creates a 2 x 3 array filled with 1.  np.full((nrows,ncols),value)

array([[1, 1, 1],
       [1, 1, 1]])

**np.random.randint()**

In [7]:
np.random.randint(0,10,(3,4)) # creates an 3 x 4 array with random integers between 0 and 10

array([[8, 4, 6, 9],
       [5, 3, 1, 0],
       [1, 2, 8, 5]])

In [10]:
np.random.randint

In [11]:
np.random.randint(9,20,5) # for just 1d array

array([17, 10,  9,  9, 19])

**np.random.random()**

In [13]:
np.random.random((3,4)) # creates a 3 x 4 array with random uniform values between 0 and 1

array([[0.94559302, 0.23059246, 0.54740029, 0.08014799],
       [0.53532944, 0.34275068, 0.69716693, 0.44262011],
       [0.12008177, 0.92513834, 0.41897644, 0.28414746]])

In [14]:
np.random.rand(3,4) # this is another version with just random.rand(), solves the same purpose as above

array([[0.54037777, 0.90501444, 0.88721515, 0.3700222 ],
       [0.16534254, 0.07773274, 0.32998614, 0.93328974],
       [0.76914052, 0.44490578, 0.72577181, 0.56794194]])

**np.random.normal()**

In [16]:
np.random.normal(0,1,(4,5)) # creates a 4 x 5 array with normally distributed random values having mean 0 and SD 1

array([[ 0.31833718,  0.78333024,  2.20567322, -0.07609939, -0.83164898],
       [ 0.00232734,  1.7202111 ,  0.52845885, -1.10140945,  1.17758548],
       [ 0.08805342,  0.57259836, -0.26229275,  1.06041976, -0.672876  ],
       [ 0.6016829 ,  1.80074169, -0.20801451, -0.87082235,  2.17937973]])

In [17]:
np.random.randn(4,5) # here mean is by default 0 and SD is 1. Similar to the above method

array([[ 0.75072067, -0.87961535,  0.4229859 , -0.45129852,  1.5161155 ],
       [ 0.17216753, -0.218544  ,  0.23202527,  0.72869865, -0.87854046],
       [ 2.2664352 , -0.16918013,  0.41048098,  0.22132048, -0.14081106],
       [ 0.71630043,  1.75227856, -0.58408351, -0.57587989,  0.20750133]])

**np.linspace()**

In [18]:
np.linspace(0,10,5) # (start,stop,# of samples), creates an array from 0 to 10 with 5 equally spaced values

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

### 1.2 Creating numpy arrays fom lists or tuples

In [21]:
np.array([4,5,6])

array([4, 5, 6])

In [22]:
alist = [9, 7, 5, 6]
np.array(alist)

array([9, 7, 5, 6])

In [23]:
atuple = (4, 5, 6, 7)
np.array(atuple)

array([4, 5, 6, 7])

In [24]:
list_list = [[i, i+2] for i in range(0,5)] # List of Lists
list_list

[[0, 2], [1, 3], [2, 4], [3, 5], [4, 6]]

In [25]:
my_arr = np.array(list_list) # creating a 2D numpy array from lists of lists.
my_arr

array([[0, 2],
       [1, 3],
       [2, 4],
       [3, 5],
       [4, 6]])

In [26]:
my_arr2 = np.arange(10)
my_arr2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
list(my_arr2) # convert array back to list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
tuple(my_arr2)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

## 2. Indexing, Modifying Arrays

### 2.1 Attributes of Arrays

**.shape** gives the dimensions of an array

In [45]:
my_arr = np.array([[0, 2], [1, 3], [2, 4], [3, 5], [4, 6]])
my_arr

array([[0, 2],
       [1, 3],
       [2, 4],
       [3, 5],
       [4, 6]])

In [46]:
my_arr.shape # .shape gives the shape of the array.

(5, 2)

**ndim**

In [47]:
my_arr.ndim

2

**size**

In [48]:
my_arr.size # total number of elements

10

**.reshape()**

In [52]:
my_arr.reshape(2,5)

array([[0, 2, 1, 3, 2],
       [4, 3, 5, 4, 6]])

In [53]:
my_arr # doesn't happen inplace. Original array remains the same.

array([[0, 2],
       [1, 3],
       [2, 4],
       [3, 5],
       [4, 6]])

### 2.2 Indexing of numpy arrays (similar to lists) npa[start:stop:step]

In [54]:
my_arr2 = np.array([31, 89, 94, 56, 34, 69, 98, 41, 53, 83, 77])
my_arr2

array([31, 89, 94, 56, 34, 69, 98, 41, 53, 83, 77])

***Q. how to get 69***

In [55]:
 # indexing works the same way as before

***Q. How to get all the numbers in reverse order***

***Q. Get numbers from 98 to 89 in reverse order***

**indexing 2D arrays, [start:stop:step, start:stop:step]**

In [58]:
np.random.seed(32)
my_arr = np.random.rand(4,5)
my_arr

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ],
       [0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344],
       [0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779],
       [0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847]])

In [59]:
my_arr[:,:] # my_arr[start:stop:step, start:stop:step]

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ],
       [0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344],
       [0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779],
       [0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847]])

In [60]:
my_arr[0:2,0:2] # get rows 0,1 and columns 0,1

array([[0.85888927, 0.37271115],
       [0.81620514, 0.10108656]])

In [63]:
# in Python, we generally use ':' after ',' to get all rows or columns. in R just ',' is enough

In [64]:
my_arr[1,:] #get row 1, all columns. In R, just my_arr[2,] would have worked.

array([0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344])

In [65]:
my_arr[:,1] # Get all rows, and first column

array([0.37271115, 0.10108656, 0.34518624, 0.58940123])

In [66]:
my_arr[1,2] # to get a particular element

0.928488070407937

In [67]:
my_arr[1,1:3] # row 1 and columns from 1 to 2

array([0.10108656, 0.92848807])

In [68]:
my_arr

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ],
       [0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344],
       [0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779],
       [0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847]])

***Q. Get columns 0, 2, 4 in reverse order***

### 2.3 Boolean Masking

**Using conditionals in slicing**

In [71]:
np.random.seed(32)
my_arr = np.random.rand(10)
my_arr

array([0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ,
       0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344])

In [72]:
my_arr > 0.5

array([ True, False,  True,  True,  True,  True, False,  True,  True,
        True])

In [73]:
my_arr[my_arr > 0.5] # get only those array elements whose value is greater than 0.5

array([0.85888927, 0.55512878, 0.95565655, 0.7366696 , 0.81620514,
       0.92848807, 0.60910917, 0.59655344])

In [74]:
np.random.seed(45)
my_arr2D = np.random.rand(3,5)
my_arr2D

array([[0.98901151, 0.54954473, 0.2814473 , 0.07728957, 0.4444695 ],
       [0.47280797, 0.048522  , 0.16332445, 0.11595071, 0.62739168],
       [0.85618205, 0.65010242, 0.99072168, 0.47035075, 0.61829448]])

In [75]:
my_arr2D > 0.5 # get a boolean array

array([[ True,  True, False, False, False],
       [False, False, False, False,  True],
       [ True,  True,  True, False,  True]])

In [76]:
my_arr2D[my_arr2D > 0.5]

array([0.98901151, 0.54954473, 0.62739168, 0.85618205, 0.65010242,
       0.99072168, 0.61829448])

In [77]:
# Get all rows, for which column 2 values are greater than 0.2

In [78]:
my_arr2D[:,2] > 0.2

array([ True, False,  True])

In [79]:
my_arr2D[(my_arr2D[:,2] > 0.2), :] # Get all rows, for which column 2 values are greater than 0.2

array([[0.98901151, 0.54954473, 0.2814473 , 0.07728957, 0.4444695 ],
       [0.85618205, 0.65010242, 0.99072168, 0.47035075, 0.61829448]])

In [81]:
np.random.seed(32)
my_arr1 = np.random.randint(0,10,6)
my_arr2 = np.random.randint(0,10,6)
print ("my_arr1" + " is " + str(my_arr1))
print ("my_arr2" + " is " + str(my_arr2))

my_arr1 is [7 5 6 8 3 7]
my_arr2 is [9 3 5 9 4 1]

**Important. **and/or** evalue the condition on the entire object. If we need element wise comparison, use **&, |**

In [82]:
my_arr1 > 5

array([ True, False,  True,  True, False,  True])

In [83]:
my_arr2 > 5

array([ True, False, False,  True, False, False])

In [84]:
(my_arr1 > 5) & (my_arr2 > 5)

array([ True, False, False,  True, False, False])

In [87]:
(my_arr1 > 5) and (my_arr2 > 5)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

### 2.4 Modifying arrays

In [88]:
import numpy as np
np.random.seed(32)
my_arr = np.random.rand(4,5)
my_arr

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ],
       [0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344],
       [0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779],
       [0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847]])

In [89]:
my_arr[1,2] = 9
my_arr

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ],
       [0.81620514, 0.10108656, 9.        , 0.60910917, 0.59655344],
       [0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779],
       [0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847]])

In [90]:
my_arr[:,4] = np.array([8, 6, 9, 22]) # replacing all rows of 4th column with new values
my_arr

array([[ 0.85888927,  0.37271115,  0.55512878,  0.95565655,  8.        ],
       [ 0.81620514,  0.10108656,  9.        ,  0.60910917,  6.        ],
       [ 0.09178413,  0.34518624,  0.66275252,  0.44171349,  9.        ],
       [ 0.70371249,  0.58940123,  0.04993276,  0.56179184, 22.        ]])

**appending, inserting, deleting**

In [112]:
np.random.seed(32)
my_arr1D = np.random.randint(0,20,5)
my_arr1D

array([11,  5, 19,  7,  3])

In [113]:
np.append(my_arr1D,100) # add an element at the end. But this is a method on numpy, not on the array object.

array([ 11,   5,  19,   7,   3, 100])

In [114]:
np.insert(my_arr1D,3,200) # insert element at index 3, and with value 2

array([ 11,   5,  19, 200,   7,   3])

In [119]:
my_arr1D # all the above methods, not in place.

array([11,  5, 19,  7,  3])

In [120]:
np.delete(my_arr1D,1) # delete element at index 1

array([11, 19,  7,  3])

**Concatenation and splitting**

In [121]:
my_arr1 = np.array([1,2,3,4])
my_arr2 = np.array([9, 9, 9, 9])

In [122]:
np.vstack([my_arr1,my_arr2]) # vertical stacking

array([[1, 2, 3, 4],
       [9, 9, 9, 9]])

In [123]:
np.hstack([my_arr1,my_arr2]) # horizontal stacking, np.concatenate also does something similar

array([1, 2, 3, 4, 9, 9, 9, 9])

In [154]:
np.random.seed(32)
my_arr = np.random.randint(0,10,(4,5))
my_arr

array([[7, 5, 6, 8, 3],
       [7, 9, 3, 5, 9],
       [4, 1, 3, 1, 2],
       [3, 8, 2, 4, 2]])

In [155]:
upsplit, losplit = np.vsplit(my_arr,[2]) # row index, where the split should happen. also try np.hsplit()

In [156]:
upsplit

array([[7, 5, 6, 8, 3],
       [7, 9, 3, 5, 9]])

In [157]:
losplit

array([[4, 1, 3, 1, 2],
       [3, 8, 2, 4, 2]])

In [158]:
lsplit, rsplit = np.hsplit(my_arr,[2])

In [159]:
lsplit

array([[7, 5],
       [7, 9],
       [4, 1],
       [3, 8]])

In [160]:
rsplit

array([[6, 8, 3],
       [3, 5, 9],
       [3, 1, 2],
       [2, 4, 2]])

**Several More array manipulation methods please see link below**
* https://docs.scipy.org/doc/numpy/reference/routines.array-manipulation.html

**sub arrays are being aliased. If we mutate subarrays, origninals are also mutated. This is different from lists**

In [161]:
sub_arr = my_arr[:,1:2]
sub_arr

array([[5],
       [9],
       [1],
       [8]])

In [162]:
sub_arr[:,0] = np.array([9,9,9,9])
sub_arr

array([[9],
       [9],
       [9],
       [9]])

In [163]:
my_arr

array([[7, 9, 6, 8, 3],
       [7, 9, 3, 5, 9],
       [4, 9, 3, 1, 2],
       [3, 9, 2, 4, 2]])

### 2.5 UFuncs and Algebraic operations

In [164]:
al = [1,2,3,4] # With lists elementwise operations need for loops, 
# in R however, we can do algebraic operations on vectors directly.

In [165]:
al*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [166]:
al + [1,2,3,4]

[1, 2, 3, 4, 1, 2, 3, 4]

In [167]:
[4*i for i in al] # this is more tedious. (Ofcourse list comprehensions are better than traditional for loops)

[4, 8, 12, 16]

**See the power of numpy**

In [168]:
my_arr = np.arange(10)
my_arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [169]:
my_arr*4

array([ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36])

In [170]:
my_arr-500

array([-500, -499, -498, -497, -496, -495, -494, -493, -492, -491])

In [171]:
my_arr/5

array([0. , 0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8])

In [172]:
my_arr*5+3 # we can even do operations in an expression.

array([ 3,  8, 13, 18, 23, 28, 33, 38, 43, 48])

**All these operations are basically wrappers for built in np. ufunc**

In [173]:
np.multiply(my_arr,4) # this is same as my_arr*4, similarly we have np.add, np.substract, np.divide etc,=.

array([ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36])

**Some more Ufuncs: max, min, mean, sum, sqrt,exp, sin, cos, log, argmin, argmax, std, var, just use np.function**
#### Go to this link https://docs.scipy.org/doc/numpy/reference/ufuncs.html for more functions.

In [175]:
my_arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [176]:
np.mean(my_arr)

4.5

In [177]:
np.prod(my_arr)

0

In [178]:
np.sum(my_arr) # for several of these aggregating functions, we could also used methods on numpy array object itself (see below)

45

In [181]:
np.sqrt(my_arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [182]:
np.exp(my_arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

**multi-dimensional aggregation**

In [183]:
np.random.seed(32)
my_arr = np.random.randn(3,5)
my_arr

array([[-0.34889445,  0.98370343,  0.58092283,  0.07028444,  0.77753268],
       [ 0.58195875,  1.47179053,  1.66318101, -0.26117712, -0.68867681],
       [-0.69492326,  1.94042346,  1.80541519,  0.45631385, -0.57481204]])

In [184]:
np.mean(my_arr,0) # specify whether we want to apply the function along rows (0), or columns (1)

array([-0.15395299,  1.46530581,  1.34983968,  0.08847372, -0.16198539])

In [185]:
np.sum(my_arr,1)

array([2.06354893, 2.76707635, 2.9324172 ])

**Few other useful numpy methods**

In [186]:
# np.any, np.all, np.prod, np.bincount, np.where
import numpy as np

In [187]:
np.random.seed(32)
my_arr = np.random.randint(0,10,20)
my_arr

array([7, 5, 6, 8, 3, 7, 9, 3, 5, 9, 4, 1, 3, 1, 2, 3, 8, 2, 4, 2])

**np.bincount**

In [188]:
np.bincount(my_arr) # bincount gives count (frequency) of each value starting from 0 to the largest value.

array([0, 2, 3, 4, 2, 2, 1, 2, 2, 2], dtype=int64)

**np.where**

In [189]:
np.where(my_arr == 5) # gives the index position where value = 5

(array([1, 8], dtype=int64),)

**np.sort**

In [190]:
np.sort(my_arr) # this doesn't happen inplace. To mutate the original use my_arr.sort()

array([1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 6, 7, 7, 8, 8, 9, 9])

**np.argsort**

In [191]:
my_arr

array([7, 5, 6, 8, 3, 7, 9, 3, 5, 9, 4, 1, 3, 1, 2, 3, 8, 2, 4, 2])

In [192]:
np.argsort(my_arr) # this will give indexes after sorting the array. order(my_arr) does something similar in R.

array([11, 13, 19, 17, 14,  4, 15,  7, 12, 18, 10,  1,  8,  2,  0,  5, 16,
        3,  6,  9], dtype=int64)

In [193]:
np.random.seed(32)
my_arr2D = np.random.rand(4,5)
my_arr2D

array([[0.85888927, 0.37271115, 0.55512878, 0.95565655, 0.7366696 ],
       [0.81620514, 0.10108656, 0.92848807, 0.60910917, 0.59655344],
       [0.09178413, 0.34518624, 0.66275252, 0.44171349, 0.55148779],
       [0.70371249, 0.58940123, 0.04993276, 0.56179184, 0.76635847]])

**Methods on numpy objects**

In [194]:
my_arr.max() # similar to Ufuncs, numpy objects themselves have several methods

9

In [195]:
my_arr.sum()

92

In [196]:
my_arr.argmax() # index position where maximum value occurs.

6