# ASSOCIATION RULES MINING

**import typical libraries**

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**install apyori to work with apriori algorithm**

In [11]:
# pip install apyori (if apyori not already installed)

In [12]:
from apyori import apriori

**another way to install apriori is through mlxtend**

In [180]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

## 1. Load the grocery dataset, explore

In [181]:
grocery = pd.read_csv('grocery_dataset.txt', delimiter='\t', header=None)

In [182]:
grocery.head(5)

                                                   0
0  citrus fruit,semi-finished bread,margarine,rea...
1                       tropical fruit,yogurt,coffee
2                                         whole milk
3        pip fruit,yogurt,cream cheese ,meat spreads
4  other vegetables,whole milk,condensed milk,lon...

**dont need itemsetID, so drop it**

In [146]:
grocery = grocery.drop('itemsetID', axis=1)
grocery.shape

(9835, 169)

**convert boolean values to int**

In [147]:
grocery = grocery.astype('int')
grocery.head(2)

,frankfurter,sausage,liver loaf,ham,meat,finished products,organic sausage,chicken,turkey,pork,...,candles,light bulbs,sound storage medium,newspapers,photo/film,pot plants,flower soil/fertilizer,flower (seeds),shopping bags,bags
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
# we have total 9835 transactions, and 169 columns (or food items)

**count of items in each transaction**

In [149]:
grocery.sum(axis=1).head(5)

0    4
1    3
2    1
3    4
4    4
dtype: int64

### 1.1 Data Preperation

In [170]:
# for aprioir algorithm, we will be leveraging dataset needs to be in 
# a particular format. list of lists
gdata = grocery.values.tolist()
print (len(gdata))

9835

In [177]:
gdata[2]

['whole milk']

In [171]:
len(gdata[0])

1

In [172]:
gdata[0:2]

[['citrus fruit,semi-finished bread,margarine,ready soups'],
 ['tropical fruit,yogurt,coffee']]

In [153]:
records = []  
for i in range(0, 9835):  
    records.append([str(grocery.values[i,j]) for j in range(0, 169)])

In [154]:
len(records[0])

169

In [178]:
arules = apriori(gdata, min_support = 0.001, min_confidence = 0.1, min_lift=2, min_length=2)
arules = list(arules)

In [179]:
arules[0]

IndexError: list index out of range