# ASSOCIATION RULES MINING

**import typical libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**install apyori to work with apriori algorithm**

In [5]:
# pip install apyori (if apyori not already installed)

In [6]:
from apyori import apriori
# for this algorithm, transaction data needs to be in the form of list of lists

## 1. Load the grocery dataset, explore

In [7]:
grocery = pd.read_csv('store_data.csv', header=None)

In [8]:
grocery.shape

(7501, 20)

In [9]:
grocery.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
list(grocery.columns)[0:6]

[0, 1, 2, 3, 4, 5]

In [11]:
# we have total 7500 transactions, and 20 columns (or food items)

**count of items in each transaction**

In [12]:
# grocery.fillna(0, inplace=True)

In [13]:
grocery.sum(axis=1).head(5)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

### 1.1 Data Preperation

In [14]:
# for aprioir algorithm, we will be leveraging dataset needs to be in 
# a particular format. list of lists
gdata = grocery.values.tolist()
print (len(gdata))

7501

In [15]:
len(gdata[0])

20

In [16]:
gdata[0:2]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers',
  'meatballs',
  'eggs',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan]]

In [17]:
records = []  
for i in range(0, 7501):  
    records.append([str(grocery.values[i,j]) for j in range(0, 20)])

In [18]:
len(records[0])

20

In [19]:
records[1]

['burgers',
 'meatballs',
 'eggs',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan']

In [20]:
arules = apriori(records, min_support = 0.0045, min_confidence = 0.2, min_lift=3, min_length=2)
arules = list(arules)

In [21]:
len(list(arules))

48

In [22]:
print (arules[1])

RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)])