## Project: Creating Association Rules from a Retail Store

### Installing and importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Import apriori

In [2]:
# mlxtend should have been already installed via the command terminal.  if not, please use pip to install as shown below.

In [1]:
# pip install mlxtend on the command terminal (if not already installed)
# 1) go to anaconda prompt (you can also go here through Anaconda Navigator --> Environments --> base --> Open Terminal)
# 2) pip install mlxtend on the terminal

In [3]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

## Step 1. Load the store dataset and prepare the dataset

### E.1 Load store_ready csv file and assign it to  variable 'store'

In [4]:
store = pd.read_csv('store_ready.csv')

**Shape**

In [5]:
# Your code

In [6]:
# Sample output

(7501, 121)

**First 2 rows**

In [7]:
# Your code

In [8]:
# Sample output

,Unnamed: 0,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,True,True,False,True,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**First 5 Column names**

In [9]:
# Your code

In [10]:
# Sample output

['Unnamed: 0', ' asparagus', 'almonds', 'antioxydant juice', 'asparagus']

### E2. Data Preperation

**Drop first column**

In [11]:
#Your code

In [12]:
# Sample output

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**Convert boolean values in store dataframe to int and assign it back to store**

In [13]:
#Your code

In [14]:
# Sample output

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Give row names, R0, R1 ...etc, to store dataframe**

In [15]:
#Your code

In [16]:
# Sample output

(7501, 120)

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
R0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
R1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
R2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# we have total 7501 transactions, and 120 columns (or food items)

### E.3 Preliminary exploration and visualization

**Find top 5 popular items and print them as a dataframe with item, freq, and support as columns**

In [18]:
# Your code

In [19]:
# Sample output

            item  freq   support
0  mineral water  1788  0.238368
1           eggs  1348  0.179709
2      spaghetti  1306  0.174110
3   french fries  1282  0.170911
4      chocolate  1229  0.163845

## Step 2. Short-list frequently occuring items and item sets by choosing a support level

### E.4 Obtain frequently occuring items/item sets which occur atleast 0.5% of the time. Store them in 'freq_items'

**Obtain the frequent items and print the total number of item sets generated**

In [20]:
#Apriori algorithm returns the frequently occuring item sets as a dataframe

In [21]:
# Your code

In [22]:
# Sample output

725

**show the first 5 rows**

In [23]:
#Your code

In [24]:
# Sample output

    support             itemsets
0  0.020397            (almonds)
1  0.008932  (antioxydant juice)
2  0.033329            (avocado)
3  0.008666              (bacon)
4  0.010799     (barbecue sauce)

**Sort the 'freq_items' data frame to show only top 10 most frequently occuring items**

In [25]:
#Your code

In [26]:
# Sample output

     support             itemsets
60  0.238368      (mineral water)
27  0.179709               (eggs)
83  0.174110          (spaghetti)
33  0.170911       (french fries)
20  0.163845          (chocolate)
44  0.132116          (green tea)
59  0.129583               (milk)
45  0.098254        (ground beef)
39  0.095321  (frozen vegetables)
68  0.095054           (pancakes)

## Step 3: From the frequently occuring item sets, generate association rules by choosing a metric

### E.5 Generate association rules which have a lift value of atleast 2

**Obtain the rules from 'association_rules' library and print the number of rules generated**

In [27]:
#Your code

In [28]:
# Sample output

482

### E.6 Sort Rules based on confidence and see top 10 rules

In [29]:
#Your code

In [30]:
# Sample output

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
294,"(soup, frozen vegetables)",(mineral water),0.007999,0.238368,0.005066,0.633333,2.656954
448,"(olive oil, soup)",(mineral water),0.008932,0.238368,0.005199,0.582090,2.441976
284,"(olive oil, frozen vegetables)",(mineral water),0.011332,0.238368,0.006532,0.576471,2.418404
421,"(soup, milk)",(mineral water),0.015198,0.238368,0.008532,0.561404,2.355194
186,"(soup, chocolate)",(mineral water),0.010132,0.238368,0.005599,0.552632,2.318395
199,"(eggs, cooking oil)",(mineral water),0.011732,0.238368,0.006399,0.545455,2.288286
262,"(ground beef, frozen vegetables)",(mineral water),0.016931,0.238368,0.009199,0.543307,2.279277
431,"(milk, turkey)",(mineral water),0.011332,0.238368,0.006133,0.541176,2.270338
468,"(soup, spaghetti)",(mineral water),0.014265,0.238368,0.007466,0.523364,2.195614
394,"(ground beef, shrimp)",(spaghetti),0.011465,0.174110,0.005999,0.523256,3.005315

### E.7 Identiy any rare strong relationships

In [31]:
#Your code

In [32]:
# Sample output

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
22,(escalope),(pasta),0.079323,0.015731,0.005866,0.073950,4.700812
23,(pasta),(escalope),0.015731,0.079323,0.005866,0.372881,4.700812
68,(shrimp),(pasta),0.071457,0.015731,0.005066,0.070896,4.506672
69,(pasta),(shrimp),0.015731,0.071457,0.005066,0.322034,4.506672
67,(whole wheat pasta),(olive oil),0.029463,0.065858,0.007999,0.271493,4.122410
66,(olive oil),(whole wheat pasta),0.065858,0.029463,0.007999,0.121457,4.122410
347,"(herb & pepper, spaghetti)",(ground beef),0.016264,0.098254,0.006399,0.393443,4.004360
350,(ground beef),"(herb & pepper, spaghetti)",0.098254,0.016264,0.006399,0.065129,4.004360
345,(ground beef),"(herb & pepper, mineral water)",0.098254,0.017064,0.006666,0.067843,3.975683
342,"(herb & pepper, mineral water)",(ground beef),0.017064,0.098254,0.006666,0.390625,3.975683