# Conditionals, Loops, and Functions

## Basic operators
* = assignment
* +addition
* -substraction
* / division
* % remainder
* // quotient
* == equivalent
* != not equivalent
* <= for less than or equal to
* **in, not in** checks for membership
* **and** conditional operator
* **or** cnditional operator

## 1. Conditionals: if, if else, if elif, if elif else:

In [3]:
if 2 <4: 
    print ("Hello")

Hello

In [4]:
num = 5
if (num % 2 == 0):
    print (str(num) + ' is Even Number')
else:
    print (str(num) + ' is Odd number')

5 is Odd number

In [5]:
# lets look at an example with Movie ticket price conditions
age = 25
bday = False
if (age < 4 or bday):
    price = 0
elif (age >= 4 and age <= 60):
    price = 15
else:
    price = 5

print (price)

15

In [6]:
language_list = ['python', 'R', 'Java', 'C++']

In [7]:
language = 'R'
if (language in language_list):
    print (language)

R

**if else in one line**
* value1 if (condition) else value2**

In [9]:
"tesla" if (1<2) else "everyone else"  #  .... if (condition) else .....

'tesla'

## 2. Loops: for, while

### 2.1 for loop

In [10]:
for i in range(0,5):  # we can iterate directly over range
        print (i)

0
1
2
3
4

**We can also iterate over lists, tuples, strings, and dictionaries**

In [14]:
Emory_ECE = ['BI', 'Big Data Analytics', 'Cybersecurity', 'AI']

In [15]:
for program in Emory_ECE:
    print (program)

BI
Big Data Analytics
Cybersecurity
AI

**combining loops with if else statements**

In [20]:
for program in Emory_ECE:
    if (program == 'Cybersecurity'):      
        print (str(program) + " starts in June 1 2019")
    elif(program == 'AI'):
        print (str(program) + " starts in June 22 2019")
    else:
        print ('Emory currently offers: ' + str(program))

Emory currently offers: BI
Emory currently offers: Big Data Analytics
Cybersecurity starts in June 1 2019
AI starts in June 22 2019

**Lists, tuples, dictionaries, strings are all iterables**

In [35]:
my_list = ["Elon Musk", "Steve Jobs", "Jeff Bezos", "Jensen Huang", "Larry Page"]
my_dict = {"Elon Musk":"Tesla", "Steve Jobs": "Apple", "Jeff Bezos": "Amazon", "Jensen Huang": "Nvdia", "Larry Page": "Google"}
my_string = "Innovation"

In [36]:
for ceo in my_list:
    print (ceo)

Elon Musk
Steve Jobs
Jeff Bezos
Jensen Huang
Larry Page

In [37]:
for key in my_dict:
    print (key) # by default, its iterating over keys.

Elon Musk
Steve Jobs
Jeff Bezos
Jensen Huang
Larry Page

In [38]:
for company in my_dict.values():
    print (company)   # if we want to iterate over values

Tesla
Apple
Amazon
Nvdia
Google

In [40]:
for ceo, comp in my_dict.items():
    print (str(ceo) + " is the ceo of " +str(comp))

Elon Musk is the ceo of Tesla
Steve Jobs is the ceo of Apple
Jeff Bezos is the ceo of Amazon
Jensen Huang is the ceo of Nvdia
Larry Page is the ceo of Google

In [41]:
for char in my_string:
    print (char)

I
n
n
o
v
a
t
i
o
n

### Input from user

**sometimes in computer programs, we want input from users.**

In [42]:
string = input("Please enter your name: ")
print ("Hello", string)

Please enter your name: Superman
Hello Superman

In [43]:
string = input("please enter your hobbies: ")
print ("My hobbies are", string)

please enter your hobbies: Flying, saving, loving
My hobbies are Flying, saving, loving

In [44]:
string

'Flying, saving, loving'

In [48]:
s = input('some num: ') # by default it takes the input as a string
type(s)

some num: 8

str

### 2.2 while loop

In [49]:
x = 5
while (x < 10): 
    print ('the value of x is :' + str(x))
    x = x+1

the value of x is :5
the value of x is :6
the value of x is :7
the value of x is :8
the value of x is :9

In [50]:
flag = True
while(flag):
    s = input("Lets play a word and character count game. Please enter a word: ")
    if(s == "quit"): 
        flag = False
        break
    print ("Total number of characters in the word " + s + " are: ", len(s))

Lets play a word and character count game. Please enter a word: Superman
Total number of characters in the word Superman are:  8
Lets play a word and character count game. Please enter a word: love
Total number of characters in the word love are:  4
Lets play a word and character count game. Please enter a word: hate
Total number of characters in the word hate are:  4
Lets play a word and character count game. Please enter a word: quit

### 2.3 loop controls

**break** to exit the loop

In [51]:
# break exits the for loop
for i in range(100):
    if (i > 4):
        break
    print (i)

0
1
2
3
4

**continue** to skip an iteration

In [52]:
# continue terminates that particular iteration and goes to next iteration
for i in range(10):
    if (i < 5):
        continue
    print (i)

5
6
7
8
9

### 2.4 comprehensions

**List Comprehensions**

In [53]:
# cleaner single line code for for loops
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
Emory_ECE

['BI', 'Big Data Analytics', 'Cybersecurity', 'AI']

In [55]:
[program for program in Emory_ECE]

['BI', 'Big Data Analytics', 'Cybersecurity', 'AI']

In [57]:
divtwo = []
for i in range(10):
    divtwo.append(i/2)
print (divtwo)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [58]:
[i/2 for i in range(10)]

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [59]:
d = dict([("a", 2), ("b",3), ("c", 9), ("d",2), ("e", 1)])
d

{'a': 2, 'b': 3, 'c': 9, 'd': 2, 'e': 1}

In [60]:
[k for k,v in d.items() if v < 4] # get keys from values by looping on both keys and values

['a', 'b', 'd', 'e']

**Dictionary comprehension**

In [61]:
{k:v for k,v in d.items() if v < 4} # get only those dictionary pairs, where the value is less than 4

{'a': 2, 'b': 3, 'd': 2, 'e': 1}

**Tuple unpacking**

In [62]:
l = [(1,3), (4,6), (7,9)]

In [63]:
l

[(1, 3), (4, 6), (7, 9)]

In [64]:
for el in l:
    print (el)

(1, 3)
(4, 6)
(7, 9)

In [66]:
for a,b in l:
    print (a)

1
4
7

In [67]:
[a for a,b in l]

[1, 4, 7]

**Some very useful functions**
* map
* lambda
* zip
* filter

### map

In [68]:
lnum = [1,-2,3,-4,5]   # use map if we want apply a function over all the elements of a list or tuple
list (map(abs, lnum))

[1, 2, 3, 4, 5]

### lambda

In [69]:
# Instead of havign a pre-existing function, we can have a function on the go with lambda list
list(map(lambda var: var**3, lnum))
# lambda var: var**3 is a function we wrote on the go. This function is executed on every element of list l

[1, -8, 27, -64, 125]

### filter

In [70]:
# Similar to map . It also uses a function. But this function should return boolean values 
# and based on these, the filter will return only those elements for which the function evaluates True
list(filter(lambda var: var < 2, lnum))

[1, -2, -4]