# Python Basics

## Common Data Types

* String
* Int
* Float
* Boolean
* Complex

## Data Structures
* String
* List
* Tuple
* Set
* Dictionary

## Basic operators
* = assignment
* +addition
* -substraction
* / division
* % remainder
* // quotient
* == equivalent
* **in, not in** checks for membership
* and conditional operator
* or conditional operator

## 1. Strings

### 1.1 Creating Strings
* Strings are collection of characters
* immutable

#### First Program

In [47]:
print ("Hello World!") # we could use single or double quotes to denote a string. Double better if there is apostrophe inside

Hello World!

In [48]:
greeting = 'Good Evening!, Get ready to be a Superman \/ '

In [49]:
print (greeting)

Good Evening!, Get ready to be a Superman \/

In [50]:
type(greeting) # to see the type of a variable

str

**Use double quotes when there is apostrophe**

In [51]:
djobs = 'there aren't many Data scientists to fill the jobs'  # will throw a syntax error.

SyntaxError: invalid syntax (<ipython-input-51-7cfc4d60d2a6>, line 1)

In [52]:
djobs= "there aren't many Data scientists to fill the jobs"  # with double quotes no error

In [53]:
print (djobs)

there aren't many Data scientists to fill the jobs

**Concatenate Strings**

In [54]:
"Hard Work " + "Pays" # strings can be concatenated with +

'Hard Work Pays'

In [55]:
x = 5

In [56]:
print ("value of x is: " + str(x)) # strings can be concatened with numeric values by using str() function

value of x is: 5

**Print formating**

In [57]:
s1 = 'Dr.Palle'
s2 = 'Teaching'

In [58]:
print('My name is: {}, and I like : {}'.format(s1,s2))

My name is: Dr.Palle, and I like : Teaching

In [59]:
s1 = 'Amazon'
s2 =  900
print ('Hard to believe that the stock price of {0} crossed {1} billion'.format(s1,s2))

Hard to believe that the stock price of Amazon crossed 900 billion

### 1.2 Indexing & Slicing strings

In [60]:
djobs

"there aren't many Data scientists to fill the jobs"

In [61]:
djobs[:]

"there aren't many Data scientists to fill the jobs"

In [65]:
djobs[0:3]  # in python indexing starts from 0, not 1. Very important point to remember. [start: stop: step]

'the'

In [68]:
djobs[0:6:2]

'tee'

In [69]:
len(djobs)   # each character including whitespace is an element in that string.

50

In [71]:
univ = "Emory university"
univ

'Emory university'

In [72]:
univ[6]

'u'

In [73]:
univ[3] = 'U' # Strings are immutable. Meaning, once created we cannot modify them.

TypeError: 'str' object does not support item assignment

In [75]:
from string import ascii_lowercase
letters = ascii_lowercase
letters

'abcdefghijklmnopqrstuvwxyz'

In [76]:
letters[4:] # get letters from position 4 to end

'efghijklmnopqrstuvwxyz'

In [78]:
letters[2:-1] # get letters from position 2 to last but one

'cdefghijklmnopqrstuvwxy'

In [79]:
letters

'abcdefghijklmnopqrstuvwxyz'

***Question. How to get letters from d to w***

In [80]:
letters[3:-3]

'defghijklmnopqrstuvw'

In [81]:
letters[0:10:2] # get letters from positions 0 to 10 and skipping 2 elements . [start:stop:step]

'acegi'

In [380]:
letters[0::2] # get letters from position 0 to end, step 2

'acegikmoqsuwy'

In [382]:
letters[::-1] # get letters from begning to end in reverse order

'zyxwvutsrqponmlkjihgfedcba'

In [83]:
letters

'abcdefghijklmnopqrstuvwxyz'

In [85]:
letters[6::-2] # get letters from position 4 to end, step 2 and in reverse

'geca'

In [86]:
letters[5::-2]

'fdb'

### 1.3 **Few string methods**
* .title(), .upper(), .lower()
* .split()
* .count()
* .strip() .rstrip(), .lstrip()
* .replace()

In [100]:
 comment = "u are all awesome!"

**Converting strings to title, upper, and lower**

In [101]:
comment.title() # convert string to title format (capitalize first word)

'U Are All Awesome!'

In [102]:
comment.upper() # convert to upper letters. .lower() will conver to lower

'U ARE ALL AWESOME!'

**Counting number of substrings in a bigger string with  .count()**

In [103]:
success = "Practice. Practice alone makes one perfect" #.count() method finds how many times a 'sub' string appears in a string
success.count('Practice')

2

In [104]:
s = "hellllo"
s.count('l')

4

**Splitting strings with .split()**

In [105]:
success.split() # this will split the string into a list of splitted words. if no arguments, splits on whitespace

['Practice.', 'Practice', 'alone', 'makes', 'one', 'perfect']

In [106]:
success.split('.') # split the string on .

['Practice', ' Practice alone makes one perfect']

**Adding Whitespace,newlines with \t \n**

In [107]:
print (" Nothing is impossible as long as")
print (" \n \t * we have faith \n \t * an open mind \n \t * make a consistent and smart effort")

 Nothing is impossible as long as

 	 * we have faith
 	 * an open mind
 	 * make a consistent and smart effort

**Removing whitespace in a string**

In [112]:
s = "  python is a high level programming language "
s.strip()                                              # we can removing both trailing and leading whitespace with strip() method
                                                       # rstrip(), lstrip() removes right and left whitespace correspondingly.

'python is a high level programming language'

**Replace a word in string**

In [110]:
s = "data is gold"
s.replace('gold', 'the new oil')

'data is the new oil'

## 2. Lists
* One of very powerful data structure in python.
* Ordered sequence of information, accessible by index
* represented by square brackets 
* Usually homogenous, but can contain  mixed types
* MUTABLE
* Are iterable

### 2.1 Creating Lists

In [115]:
lnum = [1,2,3,4,5] # square brackets are used to create lists
lnum

[1, 2, 3, 4, 5]

In [116]:
lchar = ["a", "b", "c", "d"]
lchar

['a', 'b', 'c', 'd']

In [117]:
type(lchar)

list

In [123]:
alist = [1:4] # this will not work in python. It worked okay in R with the code, v =c(1:4)

SyntaxError: invalid syntax (<ipython-input-123-a5647f7af62a>, line 1)

**range() function can be used to create list sequences in python**

In [124]:
lnum = list(range(1,10)) # range (start, stop, step) is one of the functions that can be used to create lists.

In [125]:
lnum # we created a list of numbers from 1 to 9 (not 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
lnum = list(range(0,10,2)) # sequences can be created in increments.
lnum

[0, 2, 4, 6, 8]

In [127]:
import random  # creating random numbers we need to import random. Better to use numpy arrays

In [128]:
lnum = random.sample(range(0,10),5)
lnum

[8, 4, 3, 5, 6]

### 2.2 Indexing, slicing lists

In [129]:

lchar = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
lchar

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [130]:
lchar[5]

'f'

In [131]:
lchar[-1]  #  -1 denotes last element.

'j'

In [132]:
lchar[4:7]

['e', 'f', 'g']

**Nesting: We could have lists of lists also**

In [133]:
lists = [[1,2], [3,4], [9,8]]

In [134]:
lists

[[1, 2], [3, 4], [9, 8]]

**Q. what do do if we need to get value 8 from the above list**

### 2.3 Few List Methods
* .append(value), to add a new element to the list at the end
* .insert(index, value), to add a new element at the desired index position
* .pop(index), remove the element by position, if no index remove the last element.
* .remove(value), removes the first occurence of value from the list
* .sort(), to sort list ascending order, or, sort(reverse = True) for descendng order. Optional key argument can also be used.
* .count(value), counts total number of occurences of a value

In [141]:
lnum = [9, 4, 5, 11, 45, 3, 1, 89]

***.append()**

In [142]:
lnum.append(12)   # appended 12 to the end of list.
lnum

[9, 4, 5, 11, 45, 3, 1, 89, 12]

**.insert(index,value)**

In [143]:
lnum.insert(3,100) # insert(index position, value)
lnum

[9, 4, 5, 100, 11, 45, 3, 1, 89, 12]

**.sort()**

In [144]:
lnum.sort()
lnum

[1, 3, 4, 5, 9, 11, 12, 45, 89, 100]

In [145]:
lnum.sort(reverse=True)
lnum

[100, 89, 45, 12, 11, 9, 5, 4, 3, 1]

**.pop()**

In [146]:
lnum.pop() # lnum.pop(index position).  removes the last element if no index

1

In [147]:
lnum

[100, 89, 45, 12, 11, 9, 5, 4, 3]

**.remove()** # remove element by value

In [148]:
lnum.remove(45) # to remove a value directly. But it removes only the first occurence.

In [149]:
lnum

[100, 89, 12, 11, 9, 5, 4, 3]

**list methods like pop(), append(), sort make changes in place.  They mutate the original list as well.**

**Be careful when aliasing**

In [152]:
my_list = [100, 89, 12, 11, 9, 5, 4, 3]

In [154]:
my_list2 = my_list # Aliasing binds the objects. 
my_list2.pop()

3

In [156]:
my_list2

[100, 89, 12, 11, 9, 5, 4]

In [157]:
my_list # as lnum changed, lnum2 also changed. If we dont need this, we need to create a copy.

[100, 89, 12, 11, 9, 5, 4]

In [158]:
my_list2 = my_list.copy()

In [159]:
my_list2.append(200)

In [161]:
my_list2

[100, 89, 12, 11, 9, 5, 4, 200]

In [162]:
my_list

[100, 89, 12, 11, 9, 5, 4]

In [163]:
my_list.sort()

In [164]:
my_list

[4, 5, 9, 11, 12, 89, 100]

In [165]:
sorted(my_list, reverse=True)  # this is a function applied on list. it sorts, but doesn't mutate the original list.

[100, 89, 12, 11, 9, 5, 4]

In [166]:
my_list

[4, 5, 9, 11, 12, 89, 100]

**.count() method**

In [167]:
l = [1,1,3,4,4,9,4,7]

In [168]:
l.count(4) # counts number of occurences of a value

3

**.index()**

In [169]:
l.index(4) # gives the position of first occurance

3

In [170]:
l.index(9)

5

## 3. Tuples
* Tuples are immutable
* denoted by parentheses (1,2,3,4,5)
* They are faster.
* can be of mixed type

In [196]:
tp = (1,2,3,5) # uses parentheses instead of square brackets

In [199]:
tp = tuple(range(0,10)) # range can be used to create tuples, similar to lists.
tp

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [202]:
tp = ("a", "b", "c", "d", 12, 29, 35)

In [203]:
tp

('a', 'b', 'c', 'd', 12, 29, 35)

**Indexing is similar to lists**

In [205]:
tp[3]

'd'

**Nesting: tuples could be 'tuples of tuples' or 'list of tuples' or 'tuple of lists'**

In [255]:
tuples = ((1,2), (2,3), (3,4)) # tuple of tuples
tuples

((1, 2), (2, 3), (3, 4))

In [257]:
tuples = (["a", "b"], [1,2], ["e", "f"]) # tuple of lists
tuples

(['a', 'b'], [1, 2], ['e', 'f'])

In [258]:
lists = [(1,2), ("g","f")] # List of tuples
lists

[(1, 2), ('g', 'f')]

**Few tuple methods**

**.count() tuples have only two methods .count(), .index()**

In [217]:
t1 = (1,2,2,4, 4, 4, 4, 4, 4)

In [218]:
t1.count(4) # similar to list

6

**Tuples are immutable, just like strings**

In [221]:
t1.append(5) # Immutable. string are immutable too. lists and dictionaries are mutable.

AttributeError: 'tuple' object has no attribute 'append'

In [236]:
t1 = ("a", "b", "c", "d")

In [237]:
t1

('a', 'b', 'c', 'd')

**.index(value), gives the index position**

In [238]:
t1.index('c')

2

## 4. Dictionaries
* Dictionaries are verypowerful as well
* {key:value} pairs
* represented by { } pairs
* values are mutable.
* dictionaries are also iterable

### 4.1 Creating and modifying dictionaries**

In [306]:
d = {'k1':2, 'k2':5, 'k3':6}

In [274]:
d["k1"]  # indexing works same as before by using [], however, now we use 'keys' to index

2

In [307]:
# lets store Language popularity poll results
top_language = {'R': 500, 'Python': 800, 'Julia': 20} 
top_language # when we print, it doesnt follow any order

{'Julia': 20, 'Python': 800, 'R': 500}

In [308]:
top_language['Python']

800

In [310]:
top_language['Julia'] = 100 # Mutable. we are changing the value.
top_language

{'Julia': 100, 'Python': 800, 'R': 500}

In [312]:
top_language['SQL'] = 400 # we can add new key,value pairs
top_language

{'Julia': 100, 'Python': 800, 'R': 500, 'SQL': 400}

**can also be created from list of tuples or list of lists**

In [283]:
l1 = [("a", 1), ("b", 2), ("c", 3)]
l2 = [[1,2], [3,4], [5,6]]

In [284]:
dict(l1) # dict command can be used to transform lists into dictionaries

{'a': 1, 'b': 2, 'c': 3}

In [286]:
dict(l2)

{1: 2, 3: 4, 5: 6}

### 4.2 Few methods in dictionaries

**.pop()** to remove elements

In [313]:
d

{'k1': 2, 'k2': 5, 'k3': 6}

In [314]:
d.pop("k1")
d

{'k2': 5, 'k3': 6}

In [318]:
len(d)

2

**.keys(), .values(), items()** method will gives us the respective keys, values and(key,value) tuples

In [320]:
d.keys() # gives the keys of the dictionary

dict_keys(['k2', 'k3'])

In [321]:
list(d.keys())

['k2', 'k3']

In [334]:
list(d.values()) # returns the values of the dictionary

[5, 6]

In [335]:
d.items() # returns the items (key, value) pairs

dict_items([('k2', 5), ('k3', 6)])

**Nesting**

In [387]:
d1 = {'item':'sofa', 'cost':300, 'quantity':50}
print ("dictionary 1 is " + str(d1))
d2 = {'item':'chair', 'cost':100, 'quantity':90}
print ("\ndictionary 2 is " + str(d2))

dictionary 1 is {'item': 'sofa', 'quantity': 50, 'cost': 300}

dictionary 2 is {'item': 'chair', 'quantity': 90, 'cost': 100}

In [388]:
dbig = {'john':d1, 'pam': d2}
dbig

{'john': {'cost': 300, 'item': 'sofa', 'quantity': 50},
 'pam': {'cost': 100, 'item': 'chair', 'quantity': 90}}

# 5. Sets
* Unique elements
* represented simply by {}
* set() creates empty sets

In [6]:
set1 = { 3, 4, 5, 7, 8, 8, 9, }
set1

{3, 4, 5, 7, 8, 9}

In [5]:
l = [9, 8, 7, 6, 12, 11, 2,2,3,4,5,4,3,4,5,6,7]
set(l)

{2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [10]:
l1 = [1, 3, 5, 7, 9]
l2 = [1, 4, 3, 8, 9]
list(set(l1) - set(l2))

[5, 7]

# 6. Some common functions 
* del datastructure. This works for both lists and dictionaries
* sorted(), this will create a list after sorting
* print()
* min(), max()
* abs()
* sum()
* map()
* zip()

In [399]:
store = {'item': 'milk', 'price': 3,  'quantity': 1000, 'brand': 'kroger'}
store

{'brand': 'kroger', 'item': 'milk', 'price': 3, 'quantity': 1000}

In [400]:
del store['brand']
store

{'item': 'milk', 'price': 3, 'quantity': 1000}

In [402]:
sorted(store.keys())

['item', 'price', 'quantity']

In [406]:
l = [1,2,3,4,5]
max(l)

5

**There are several built-in functions in core python**
* https://docs.python.org/3/library/functions.html