## Strings

**#E.1 Slice the below long string and get the substring 'data'**

In [1]:
s = "Data is a precious thing and will last longer than the systems themselves"

In [2]:
# Answer

In [3]:
s[0:5]

'Data '

In [4]:
s[:s.find('Data')+len('Data')] # Another way to get the same answer.

'Data'

**#E2. Get the number of times data occurs in this sentence**

In [5]:
s = "If we have data, let’s look at data. If all we have are opinions, let’s go with mine"

In [6]:
# Answer

In [7]:
s.count('data')

2

**# E.3. Convert the following string into a list of words**

In [8]:
s = "Continuous learning is the key to success"

In [9]:
# Your answer should be a list of words in the above string

In [10]:
s.split()

['Continuous', 'learning', 'is', 'the', 'key', 'to', 'success']

**# E.4 Modify the fact variable below by adding 'not' before 'cool' in the below string**

In [11]:
fact = "Python is cool"

In [12]:
# Answer fact should now be "Python is not cool"

In [13]:
## We cannot modify fact, because it is a string and immutable. However, we could replace the world cool with 'not cool'
# but, it will be a different string, not fact

In [14]:
fact.replace('cool', 'not cool')

'Python is not cool'

In [15]:
fact

'Python is cool'

## Lists

**# E.5 Create a list of first 50 even numbers**

In [16]:
# Answer

In [17]:
list(range(0,52,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

**# E.6 Fromn the list below, return the frequency of number 8. Hint: Use a list method**

In [18]:
my_list = [8, 81, 3, 4, 4, 10, 95, 9, 8, 5, 8, 13, 20, 35, 45, 55, 4, 9, 8, 88]

In [19]:
# Answer

In [20]:
my_list.count(8)

4

**# E.7 Add 'set' as the last element to the list below**

In [21]:
my_list2 = ['list', 'dictionary', 'tuple']

In [22]:
# Answer

In [23]:
my_list2.append('set')

In [24]:
my_list2

['list', 'dictionary', 'tuple', 'set']

**# E.8 Get unique elements from the list below**

In [25]:
my_list = [3 , 4, 2, 8, 9, 9, 2, 5, 7, 11]

In [26]:
# Answer

In [27]:
list(set(my_list))

[2, 3, 4, 5, 7, 8, 9, 11]

**# E.9 Get Unique elements from list 2 that are not in list 1**

In [28]:
list1 = [1,3,4,5,7]
list2 = [1,4,8,3,9,7,6,10]

In [29]:
#Answer

In [30]:
list(set(list2)-set(list1))

[8, 9, 10, 6]

**# E.10 modify the list below to include all elements except "harley"**

In [31]:
car_list = ["toyota", "bmw", "tesla", "harley", "honda", "Ford"]

In [32]:
#Answer

In [33]:
car_list.pop(3)
car_list

['toyota', 'bmw', 'tesla', 'honda', 'Ford']

In [34]:
del car_list[3]  # other ways to remove elements 
car_list

['toyota', 'bmw', 'tesla', 'Ford']

In [35]:
car_list.remove("harley")
car_list

ValueError: list.remove(x): x not in list

**# E.10 modify the list below to include all elements except "harley"**

In [36]:
car_list = ["toyota", "bmw", "tesla", "harley", "honda", "Ford"]

In [37]:
#Answer

In [38]:
car_list.pop(3)
car_list

['toyota', 'bmw', 'tesla', 'honda', 'Ford']

In [39]:
del car_list[3]  # other ways to remove elements 
car_list

['toyota', 'bmw', 'tesla', 'Ford']

In [40]:
car_list.remove("harley")
car_list

ValueError: list.remove(x): x not in list

## Dictionaries

**E.11 Create a dictionary of 5 keywords (data, money, love, fear, success). values can be a word that first comes to ur mind when you think of this keyword**

In [41]:
# Answer

In [42]:
my_dict = {"data": "huge", "money": "need more", "love":"my son", "fear": "limitation", "success": "belief"}
my_dict

{'data': 'huge',
 'money': 'need more',
 'love': 'my son',
 'fear': 'limitation',
 'success': 'belief'}

**E.12 Get only the keys as a tuple from the above dictionary**

In [43]:
# Answer

In [44]:
tuple(my_dict.keys())

('data', 'money', 'love', 'fear', 'success')

**E.13 Get a list of (key, value) tuple pairs**

In [45]:
# Answer

In [46]:
list(my_dict.items())

[('data', 'huge'),
 ('money', 'need more'),
 ('love', 'my son'),
 ('fear', 'limitation'),
 ('success', 'belief')]

**E.14 Get the value 170 from the dictionary below**

In [47]:
d = {"Sam":{"height":5.8, "weight":250, "chol":280},
     "Liz":{"height":5.3, "weight":100, "chol":180},
     "Robert":{"height":5.5, "weight":140, "chol":170}}

In [48]:
# Answer

In [49]:
d['Robert']['chol']

170

**E.15 Update cholestrol value for Liz from 180 to 190**

In [50]:
# Answer

In [51]:
d['Liz']["chol"] = 190
d

{'Sam': {'height': 5.8, 'weight': 250, 'chol': 280},
 'Liz': {'height': 5.3, 'weight': 100, 'chol': 190},
 'Robert': {'height': 5.5, 'weight': 140, 'chol': 170}}

## Conditionals, loops

**#E.16 Write a program which asks user to enter a number and then tells whether that number is even or odd**

In [52]:
# Answer

In [53]:
num = int(input("Please enter a number: "))
if (num % 2 == 0):
    print ("\n\t" + str(num) +  " is an even number")
else:
    print ("\n\t" + str(num) + " is an odd number")

Please enter a number:

ValueError: invalid literal for int() with base 10: ''

**#E.17 Print the squares of all the elements in the list below**

In [54]:
alist = [1, 2, 3, 4, 5]

In [55]:
# Answer # use a for loop

In [56]:
for i in alist:
    print (i**2)

1
4
9
16
25

**#E.18 Get a list of cubes of all the elements in the above list (alist). Do this both with a traditional for loop and also with
     list comprehension**

In [57]:
# Answer traditional for loop

In [58]:
cubel = []
for i in alist:
    cubel.append(i**3)
cubel

[1, 8, 27, 64, 125]

In [59]:
# Answer with list comprehension

In [60]:
[i**3 for i in alist]

[1, 8, 27, 64, 125]

**E.19 Get all the list elements in l2 that are not in l1**

In [61]:
l1 = [1,2,3,4,9]
l2 = [4,5,6,7,8,7,6,4,11,5,8,6,9]

In [62]:
[i for i in l2 if (i not in l1)]

[5, 6, 7, 8, 7, 6, 11, 5, 8, 6]

**E.20 Adding elements of a list using list comprehension**

In [63]:
[l1[i] + l2[i] for i in range(len(l1))]

[5, 7, 9, 11, 17]