## Strings

**#E.1 Slice the below long string and get the substring 'data'**

In [3]:
s = "Data is a precious thing and will last longer than the systems themselves"

In [4]:
# Your code

In [3]:
#Sample Output

'Data '

**#E2. Get the number of times data occurs in this sentence**

In [6]:
s = "If we have data, let’s look at data. If all we have are opinions, let’s go with mine"

In [8]:
# Your code

In [7]:
#Output

2

**# E.3. Convert the following string into a list of words**

In [12]:
s = "Continuous learning is the key to success"

In [13]:
# Your code should output a list of words in the above string

In [10]:
#Output

['Continuous', 'learning', 'is', 'the', 'key', 'to', 'success']

**# E.4 Modify the fact variable below by adding 'not' before 'cool' in the below string**

In [15]:
fact = "Python is cool"

In [16]:
# Your code.  fact should now be "Python is not cool"

In [18]:
## We cannot modify fact, because it is a string and immutable. However, we could replace the world cool with 'not cool'
# but, it will be a different string, not fact

In [14]:
# Output

'Python is not cool'

In [15]:
fact

'Python is cool'

## Lists

**# E.5 Create a list of first 50 even numbers**

In [16]:
# Your code

In [17]:
#Output

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

**# E.6 Fromn the list below, return the frequency of number 8. Hint: Use a list method**

In [23]:
my_list = [8, 81, 3, 4, 4, 10, 95, 9, 8, 5, 8, 13, 20, 35, 45, 55, 4, 9, 8, 88]

In [24]:
# Your code

In [20]:
# Output

4

**# E.7 Add 'set' as the last element to the list below**

In [26]:
my_list2 = ['list', 'dictionary', 'tuple']

In [27]:
# Your code

In [30]:
# Output

In [31]:
my_list2

['list', 'dictionary', 'tuple', 'set']

**# E.8 Get unique elements from the list below**

In [35]:
my_list = [3, 4, 2, 8, 9, 9, 2, 5, 7, 11]

In [36]:
# Your code

In [27]:
# Output

[2, 3, 4, 5, 7, 8, 9, 11]

**# E.9 Get Unique elements from list 2 that are not in list 1**

In [39]:
list1 = [1,3,4,5,7]
list2 = [1,4,8,3,9,7,6,10]

In [29]:
# Your code

In [30]:
# Output

[8, 9, 10, 6]

**# E.10 modify the list below to include all elements except "harley"**

In [42]:
car_list = ["toyota", "bmw", "tesla", "harley", "honda", "Ford"]

In [43]:
# Your code

In [46]:
# Output
car_list

['toyota', 'bmw', 'tesla', 'honda', 'Ford']

In [47]:
del car_list[3]  # other ways to remove elements 
car_list

['toyota', 'bmw', 'tesla', 'Ford']

In [48]:
car_list.remove("Ford")
car_list

['toyota', 'bmw', 'tesla']

## Dictionaries

**E.11 Create a dictionary of 5 keywords (data, money, love, fear, success). values can be a word that first comes to ur mind when you think of this keyword**

In [41]:
# Your code

In [1]:
# Output
my_dict

{'data': 'huge',
 'money': 'important',
 'love': 'son',
 'fear': 'limitation',
 'success': 'belief'}

**E.12 Get only the keys as a tuple from the above dictionary**

In [43]:
# Your code

In [44]:
# Output

('data', 'money', 'love', 'fear', 'success')

**E.13 Get a list of (key, value) tuple pairs**

In [45]:
# Your code

In [3]:
#Output

[('data', 'huge'),
 ('money', 'important'),
 ('love', 'son'),
 ('fear', 'limitation'),
 ('success', 'belief')]

**E.14 Get the value 170 from the dictionary below**

In [52]:
d = {"Sam":{"height":5.8, "weight":250, "chol":280},
     "Liz":{"height":5.3, "weight":100, "chol":180},
     "Robert":{"height":5.5, "weight":140, "chol":170}}

In [48]:
# You code

In [49]:
# Output

170

**E.15 Update cholestrol value for Liz from 180 to 190**

In [50]:
# Your code

In [51]:
# Output
d

{'Sam': {'height': 5.8, 'weight': 250, 'chol': 280},
 'Liz': {'height': 5.3, 'weight': 100, 'chol': 190},
 'Robert': {'height': 5.5, 'weight': 140, 'chol': 170}}

## Conditionals, loops

**#E.16 Write a program which asks user to enter a number and then tells whether that number is even or odd**

In [52]:
# Your code

In [1]:
# Output

Please enter a number: 5

	5 is an odd number

**#E.17 Print the squares of all the elements in the list below**

In [57]:
alist = [1, 2, 3, 4, 5]

In [55]:
# Your code # use a for loop

In [56]:
# Output

1
4
9
16
25

**#E.18 Get a list of cubes of all the elements in the above list (alist). Do this both with a traditional for loop and also with
     list comprehension**

In [57]:
# # Your code. use traditional for loop

In [58]:
# Output

[1, 8, 27, 64, 125]

In [59]:
# # Your code. Use list comprehension

In [60]:
# Output

[1, 8, 27, 64, 125]

**E.19 Get all the list elements in l2 that are not in l1**

In [61]:
l1 = [1,2,3,4,9]
l2 = [4,5,6,7,8,7,6,4,11,5,8,6,9]

In [ ]:
# Your code

In [62]:
# Output

[5, 6, 7, 8, 7, 6, 11, 5, 8, 6]

**E.20 Adding elements of a list using list comprehension**

In [60]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

In [ ]:
# Your code

In [61]:
# Output

[6, 8, 10, 12]